body {background-image: url("/img/bkg.png");
      color: #fff;
      font-family: "Monaco", "Ubuntu Mono";
      font-size: 16px;}

.well {background-color: #333; color: #fff;}

h1, h2, h3, h4, h5, h6 {color: #b5e853;}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {color: #a4b485;}

.navbar-default {background-color: #333;
                 border-color: #333;}
.navbar-default .navbar-brand {color: #b5e853;}
.navbar-default .navbar-nav > .active > a {background-color: #accd6d;}

.form-control {color: #ccc; background-color: #444; border-color: #000;}
.btn-default {color: #ccc; background-color: #444; border: none;}