<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{ site.title }} - {{ page.title | otherwise: site.subtitle }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% if site.description %}
    <meta name="description" content="{{ site.description | markdownify | strip_html }}" />
  {% endif %}
  {% if site.author %}
    <meta name="author" content="{{ site.author }}" />
  {% endif %}

  <script
    defer
    type="text/javascript"
    src="/js/alpine.3.12.0.min.js"></script>

  <link href="/css/tailwind.css" rel="stylesheet" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/img/apple-touch-icon.png">
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/img/favicon-32x32.png">
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
