<div x-show="menu_open" class="lg:hidden" role="dialog" aria-modal="true">
  <!-- Background backdrop, show/hide based on slide-over state. -->
  <div class="fixed inset-0 z-10"></div>
  <div
    class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-background_secondary px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-100/10">
    <div class="flex items-center justify-between">
      <a href="{{ site.url }}" class="-m-1.5 p-1.5 flex">
        <img class="h-8 w-auto" src="/img/icon.png" width="40" alt="">
        <span class="sr-only">{{ site.title }}</span>
      </a>
      <button type="button" @click="menu_open = false" class="-m-2.5 rounded-md p-2.5 text-white">
        <span class="sr-only">Menü schließen</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div class="space-y-2 py-6">
          {{ page | navigation_list_items: page.language || site.language, true }}
        </div>
      </div>
    </div>
  </div>
</div>