<div class="page-header">
  <h3>
    {{ site.title }}
    {% if site.subtitle %}<br/><small>{{ site.subtitle }}</small>{% endif %}
  </h3>
</div>

<ul>
  <li>Home <a href="/"> English</a> / <a href="/home_de">Deutsch</a></li>
  <li>Plan <a href="/plan_de">Deutsch</a></li>
  <li><a href="/imprint_en">Imprint</a> / <a href="/imprint_de">Impressum</a></li>
</ul>


<h4>License</h4>

<a rel="license"
   href="http://creativecommons.org/licenses/by-sa/4.0/">
  <img alt="Creative Commons License"
       style="margin: 0px;"
       src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
</a>

<br/><br/><br/>

{% if site.twitter_nick %}
  <a href="https://twitter.com/{{ site.twitter_nick }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter_nick }}</a>
{% endif %}